body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: #963b4e;
    padding: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 10px;
	justify-content: space-between;
}

.box {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	background: #963b4e;
	box-shadow: 0 2px 8px rgba(0,0,0,0.05);
	width: 75%;
	margin: 25px;
	align-items: center;
}
  
.three-columns {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.two-columns {
	display: flex;
	flex-wrap: nowrap;
	max-width: 100%;
}
  
.column {
	flex: 1;
	min-width: 200px;
}
  
.item {
	margin-bottom: 10px;
}
  
.label {
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 10px;
	font-size: 100% !important;
}
  
.value {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	margin-top: 5px;
	min-height: 36px;
}

.value-two {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	margin-top: 5px;
	min-height: 36px;
	flex: 0;
	border-right: 2px solid white;
	border-bottom-right-radius: unset;
	border-top-right-radius: unset;
}

.value-two-right {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	margin-top: 5px;
	min-height: 36px;
	min-width: 0;
	flex: 1 1 auto;
	border-bottom-left-radius: unset;
	border-top-left-radius: unset;
	word-wrap: break-word;
    white-space: normal;
}

.value-two-viernes {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	min-height: 36px;
	flex: 1;
	border-right: 2px solid white;
}

.value-two-nobordertop {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	min-height: 36px;
	flex: 1;
	border-right: 2px solid white;
	border-bottom-right-radius: unset;
	border-top-right-radius: unset;
	border-top-left-radius: unset;
}

.value-two-right-nobordertop {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	min-height: 36px;
	flex: 1;
	border-bottom-left-radius: unset;
	border-top-left-radius: unset;
	border-top-right-radius: unset;
}

.year {
	background: #252525;
	color: #ffffff;
	padding: 8px;
	border-radius: 5px;
	margin-top: 5px;
	min-height: 36px;
	border-bottom: 2px solid white;
	border-bottom-right-radius: unset;
	border-bottom-left-radius: unset;
}
  
.inscription {
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 20px;
	font-size: 100% !important;
}

.login-btn {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.sm-btn {
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
	margin-bottom: 10px;
	margin-top: -5px;
}

.btn-container {
    display: flex;
    justify-content: center; 
}

.login-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}